root = true

# all files
[*]
charset = utf-8
# for unix systems (mac/linux), windows uses CRLF
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

# all files.md
[*.md]
insert_final_newline = false
trim_trailing_whitespace = false
